<div class="sistemaSeleccion">
  <app-estadisticas [jugadores]="jugadores"></app-estadisticas>

  <app-filtro-posicion
    [posicion]="posicionSeleccionada"
    (posicionChange)="posicionSeleccionada = $event">
  </app-filtro-posicion>

  <app-busqueda-jugador
    [busqueda]="busquedaNombre"
    (busquedaChange)="busquedaNombre = $event">
  </app-busqueda-jugador>

  <app-eliminar-jugador
    [jugadores]="jugadores"
    (jugadoresActualizados)="jugadores = $event">
  </app-eliminar-jugador>
</div>

<section class="containerJugadores">
  <h2 class="tituloJugadores">Jugadores de la Scaloneta</h2>
  <ul class="listaJugadores">
  <ng-container *ngFor="let jugador of jugadoresFiltrados">
  <li class="itemJugador" 
      *ngIf="!posicionSeleccionada || jugador.posicion === posicionSeleccionada">
    <img src="/escudoArg.png" alt="Escudo Argentina" class="escudoArg">
    {{ jugador.nombre }} {{ jugador.apellido }}
  </li>
</ng-container>
</ul>
<p class="mensajeNoResultados" *ngIf="jugadoresFiltrados.length === 0">
  No se encontraron jugadores con ese criterio 
</p>
</section>
